HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

ndroid----------

# build

*.apk

*.ap_

*.dex

*.class

bin/

gen/

# gradle

.gradle/

.metadata/

.recommenders/

gradle-app.setting

!gradle-wrapper.jar


local.properties

##----------idea----------


/*/*.iml

.idea/


# Android Studio Navigation editor temp files

.navigation/

##----------Other----------

output

# osx

*~

.DS_Store

gradle.properties

/*/target

*.log

out
