<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buct.computer.mapper.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.buct.computer.model.UserInfo">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="profile_picture" property="profilePicture" />
        <result column="signature" property="signature" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="type" property="type" />
        <result column="collection" property="collection" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, password, profile_picture, signature, phone, email, type, collection, status, create_time, update_time
    </sql>

</mapper>
